.family-component {
    $delete-button-top: 1rem;
    $delete-button-right: 2rem;
    $delete-button-index: 5;
    $loader-top: 4rem;
    $loader-right: 50%;
    $image-size: 5rem;
    $button-min-width: 10rem;
    $button-max-width: 16rem;
    $button-image-size: 1rem;
    $dates-font-size: 12px;
    $dropdown-menu-transform: translate(-10px, 25px) !important;

    &__group {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: $p-primary-lg;
       width: fit-content;
       background: url('../resources/bg-tree.svg') no-repeat center;
       background-size: 100% 100%;
       background-color: #fff;
    }

    &__loader {
        position: absolute;
        top: $loader-top;
        right: $loader-right;
    }

    &__level {
        display: flex;
    }

    &__button,
    &__button.active {
        min-width: $button-min-width;
        max-width: $button-max-width;
        margin: $m-secondary;
        border: 1px solid $secondary;
        position: relative;
    }

    &__button.active {
        border: 3px solid $secondary;
    }  

    &__block {
        position: relative;
    }

    &__image {
        width: $image-size;
        height: $image-size;
        object-fit: cover;
    }

    &__delete, &__edit {
        position: absolute;
        z-index: $delete-button-index;
        top: $delete-button-top;
        right: $delete-button-right;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    &__edit {
        left: $delete-button-right;
        right: auto;
    }

    &__delete-image,
    &__edit-image {
        width: $button-image-size;
        height: $button-image-size;
    }

    &__name {
        font-weight: $font-weight-bolder;
    }

    &__dates {
        font-size: $dates-font-size;
    }

    &__info {
        padding: $p-tertiary;
        font-size: $dates-font-size;
    }

    &__info-toggle {
        min-width: auto;
        padding: 0;
        border: none;
        background-color: transparent;
        color: $primary;

        &:hover {
            background-color: transparent;
            color: $primary;
        }
    }

    .show > .btn-primary.dropdown-toggle {
        background-color: transparent;
        color: $primary;
    }

    .dropdown-menu.show {
        transform: $dropdown-menu-transform;
    }

    &__download {
        margin: $m-secondary;
        text-align: end;
    }
}

.line {
    & {
        transform-origin: top right;
        border-bottom-right-radius: 35%;
        border-top-right-radius: 35%;
    }

    &:after {
        content: '<';
        position: relative;
        top: -2px;
        left: calc(-50% + 2px);
        transform: rotate(90deg);
        font-weight: bold;
        color: $secondary;
    }
}

@media (max-width: $medium) {
    .family-component {
        $image-size-md: 3rem;
        $button-min-width-md: 5rem;
        $button-max-width-md: 5rem;
        $delete-button-top-md: 0.5rem;
        $delete-button-right-md: 1rem;

        &__image {
            width: $image-size-md;
            height: $image-size-md;
        }

        &__button,
        &__button.active {
            min-width: $button-min-width-md;
            max-width: $button-max-width-md;
            margin: $m-tertiary;
        }

        &__delete, &__edit {
            top: $delete-button-top-md;
            right: $delete-button-right-md;
        }
    
        &__edit {
            left: $delete-button-right-md;
            right: auto;
        }

        &__scrollable {
            width: 100%;
            overflow-x: scroll;
            white-space: nowrap;
        }

        &__group {
            padding: $p-primary 0;
            width: fit-content;           
        }

        &__name {
            white-space: normal;
            overflow-wrap: break-word;
        }
    }

    .line {
        display: none;
    }
}