.gallery-component {
    &__block {
        display: flex;
        flex-wrap: wrap;
    }

    &__actions {
        margin: 1rem;
        text-align: right;
    }

    .gallery-item {
        width: 25%;
        margin: 0.5rem;
    }

    .gallery-item__image {
        width: 100%;
    }
}