.recipe-component {
    & {
        padding: $p-primary;
    }

    &__title {
        color: $purple-500;
    }

    &__text {
        padding-bottom: 1rem;
    }

    &__image {
        max-height: 30rem;
        margin-bottom: 1rem;
    }
    
    &__footer {
        font-size: 10px;
        color: $gray-500;
        text-align: right;
    }
}

@media (max-width: $small) {
    .recipe-component {
        & {
            padding: 0 0 $p-primary;
        }

        &__image {
            width: 100%;
        }
    }
}