// colors

$primary: $blue;
$secondary: $purple-500;
$tertiary: $gray-500;

// margin
$m-primary: 2rem;
$m-secondary: 1rem;
$m-tertiary: 0.5rem;
$m-primary-lg: 4rem;

// padding
$p-primary: 2rem;
$p-secondary: 1rem;
$p-tertiary: 0.5rem;
$p-primary-lg: 4rem;

// Buttons
$button-min-width: 18rem;